/* viide elemendile st muudame kõiki selliseid elemente */
body {
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 3em; /* vahe elementide vahel */
    align-items: center;
    color: fuchsia;
    background-color: yellow;
    font-family: "Comic Sans MS";
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

#textBox:hover {
    background-color: beige;
}


/* #-ga viitame elemendile, millel on selline id */
#photo {
    max-width: 25em;
    max-height: 30em;
    border-radius: 50% 50% 50% 0;
}

#photo:hover {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
  0%   {rotate: 0deg;}
  100% {rotate: 360deg;}
}


/* .-ga viitame elemenditele, millel on selline class */
.container {
    display: flex;
    padding: 1em;
    align-items: center;
    gap: 3em;
    justify-content: center;
}

#textBox {
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: auto;
}

.card {
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    padding: 5em 1.5em 1.5em;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.icon {
    max-width: 10em;
}
iframe {
    width: 50em;
    height: 28em;
}

button {
    width: 20em;
    border: none;
    background-color: #D9D9D9;
    padding: 2em;
}

button:hover {
    background-color: #C8C6C6;
    cursor: pointer;
}